@import 'helpers.css';

/* basics */

* {
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: tomato;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin: 0 0 1em;
}

ul {
    height: 100%;
}

main {
    text-align: center;
}

section {
    background-color: rgb(255, 133, 111)
}
table {
    background-color: #fff;
}
table th {
    font-size: larger;
    text-decoration: underline;
    padding-bottom: 20px;
}
tr {
    border-bottom: 1px solid rgb(0, 0, 0);
}

button {
    background-color: grey; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
}
.table-btn {
    padding: 5px 10px;
    background-color: darkblue;
}

input[type=text] {
    /* width: 50%; */
    padding: 10px 20px;
    margin: 8px 0;
    outline: none;
    font-size: 16px;
}


/* design */

.header-container {
    min-height: 70px;
}

.logo {
    font-size: 2em;
    font-weight: bolder;
}

.page-container {
    height: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.location-declaration {
    width: 100%;
    height: 70px;
}

section.locations-list , section.map-container , section.weather-container {
    min-width: 40%;
    width: 500px;
    height: 600px;
    margin: 10px;
}